<div class='col-12'>
	<div class="hero">
		<div class="column col-12 col-sm">
			<br />
			<div class="feature col-12 col-sm">
				<h2 class='bigbutton'>
			   		<%= link_to 'BLOG', blogpages_path %>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2 class='bigbutton'>
			   		<%= link_to 'LIFE', lifepages_path %>
			   	</h2>
			</div> 
			<br />
			<div class="feature col-12 col-sm">
				<h2 class='bigbutton'>
			   		<%= link_to 'MUSIC', theatrepages_path %>
			   	</h2>
			</div>
			<br />
			<div class="feature col-12 col-sm">
				<h2 class='bigbutton'>
			   		<%= link_to 'CODING', codingpages_path %>
			   	</h2>
			</div>
			<br />
<!-- 			<div class="feature col-12 col-sm">
				<h2 class='bigbutton'>
			   		<%= link_to 'LOG IN', new_user_session_path %>
			   	</h2>
			</div> -->
		</div>
	</div>
</div>