<div class="booyah-box col-10 offset-1">
	<h1> Upload a New Post </h1>
	<%= simple_form_for @blogpages do |f| %>
	  <%= f.input :title %>
	  <%= f.input :picture %>
	  <%= f.input :boady %>
	  <%= f.submit "Post", class: 'btn btn-primary' %>
	<% end %> 
</div>